<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>
         {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>



            {{ include('layout/header.html.twig') }}

        <main class="container text-center">
            <div class="row">
                <div class="col-1">Column</div>
                <div class="col-10 content p-2">
                    {% block body %}{% endblock %}
                </div>
                <div class="col-1">Column</div>
            </div>
        </main>

    </body>
</html>
